[package]
name = "mirrord-layer"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true
edition.workspace = true
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
mirrord-config = { path = "../config"}
mirrord-protocol = { path = "../protocol"}
mirrord-layer-macro = { path = "./macro"}
mirrord-console = { path = "../console" }

ctor = "0.2"
libc.workspace = true
nix.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
# change to upstream once https://github.com/frida/frida-rust/pull/99 is merged
frida-gum = { git = "https://github.com/metalbear-co/frida-rust", version = "0.12", features = ["auto-download"], branch="capstone_remove" }
futures.workspace = true

tokio = { workspace = true, features = ["fs", "rt", "rt-multi-thread", "macros", "process"] }
serde_json.workspace = true

actix-codec.workspace = true
bytes.workspace = true
tokio-stream.workspace = true
tokio-util.workspace = true
thiserror.workspace = true
trust-dns-resolver.workspace = true
num-traits.workspace = true

rand = "0.8"
fancy-regex.workspace = true
regex.workspace = true
errno = "0.3"
socket2.workspace = true
anyhow.workspace = true
streammap-ext.workspace = true
urlencoding = "2"
itertools = "0.10"
os_info = "3"
bytemuck = "1"
hyper = { workspace = true, features = ["client", "http1", "http2"] }
http-body-util  = { workspace = true }
bimap.workspace = true
dashmap = "5.4"
exec.workspace = true

[target.'cfg(target_os = "macos")'.dependencies]
mirrord-sip = { path = "../sip" }
null-terminated = "0.3"

[dev-dependencies]
k8s-openapi.workspace = true
chrono = { version = "0.4", features = ["clock"] }
base64 = "0.21"
http-body = { workspace = true }
hyper = { workspace = true }
rstest = "*"
test-cdylib = "*"
tower = "0.4"
tokio = { version = "1", features = ["rt", "net", "macros"] }
tests = { path = "../../tests" }

[lib]
crate_type = ["cdylib"]

