out
dist
node_modules
__pycache__
.vscode-test/
*.vsix
.DS_Store
**/.DS_Store
target
build/
.mirrord

### go tests ###
*.go_test_app

### VSCode IDE ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VSCode mirrord extension code ###
# mirrord binary
vscode-ext/mirrord

### Intellij ###
intellij-ext/.gradle
intellij-ext/.idea
intellij-ext/.qodana
intellij-ext/build
intellij-ext/libmirrord_layer.*
intellij-ext/bin
.idea/
