out
dist
node_modules
__pycache__
.vscode-test/
*.vsix
.DS_Store
**/.DS_Store
target

### go tests ###
tests/go-e2e/18
tests/go-e2e-env/18
tests/go-e2e-fileops/18
tests/go-e2e-outgoing/18
tests/go-e2e-dns/18

tests/go-e2e/19
tests/go-e2e-env/19
tests/go-e2e-fileops/19
tests/go-e2e-outgoing/19
tests/go-e2e-dns/19

### dotnet tests ###
tests/dotnet-e2e/*/bin
tests/dotnet-e2e/*/obj

### VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Intellij ###
intellij-ext/.gradle
intellij-ext/.idea
intellij-ext/.qodana
intellij-ext/build
intellij-ext/libmirrord_layer.*
.idea/
