[workspace]

members = [
    "mirrord-auth",
    "mirrord-protocol",
    "mirrord-agent",
    "mirrord-layer",
    "mirrord-cli",
    "mirrord-macro",
    "sample/rust",
    "tests"
]

# latest commits on rustls suppress certificate verification
[workspace.package]
version = "2.9.1"
edition = "2021"
license = "MIT"
readme = "README.md"
repository = "https://github.com/metalbear/mirrord"
documentation = "https://mirrord.dev/docs"
authors = ["MetalBear <hi@metalbear.co>"]
description = "Run a local process in the context of a cloud environment"
homepage = "https://mirrord.dev"
publish = false
keywords = ["cli", "backend", "debug", "test", "kubernetes", "cloud", "native", "local", "ide", "devtool", "developer", "tool"]
categories = ["development-tools", "backend", "devtool"]

[workspace.dependencies]
actix-codec = "0.5"
bytes = "1"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
serde_json = "1"
anyhow = "1"
nix = "0.24"
clap = { version = "3", features = ["derive"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
futures = "0.3"
thiserror = "1"
k8s-openapi = { version = "0.15", features = ["v1_24"] }
reqwest = { version = "0.11", features = ["blocking"] }
kube = { version = "0.73", default-features = false, features = ["runtime", "derive", "client", "ws", "rustls-tls"] }
dns-lookup = "1"

# latest commits on rustls suppress certificate verification
# https://github.com/rustls/rustls/pull/1032
# so we patch crates.io to use the latest commits from rustls
# this should be changed once a newer version of rustls is ou
[patch.crates-io]
rustls = { git = 'https://github.com/rustls/rustls' }

[profile.release]
strip = "debuginfo"
lto = true
