[workspace]

members = [
    "mirrord/*",
    "mirrord/layer/tests/apps/fileops",
    "mirrord/layer/tests/apps/outgoing",
    "mirrord/layer/tests/apps/listen_ports",
    "mirrord/layer/tests/apps/dns_resolve",
    "mirrord/layer/tests/apps/recv_from",
    "sample/rust",
    "medschool",
    "tests",
    "tests/rust-e2e-fileops",
    "tests/rust-unix-socket-client",
    "tests/rust-bypassed-unix-socket",
]

# latest commits on rustls suppress certificate verification
[workspace.package]
version = "3.50.0"
edition = "2021"
license = "MIT"
readme = "README.md"
repository = "https://github.com/metalbear/mirrord"
documentation = "https://mirrord.dev/docs"
authors = ["MetalBear <hi@metalbear.co>"]
description = "Run a local process in the context of a cloud environment"
homepage = "https://mirrord.dev"
publish = false
keywords = ["cli", "backend", "debug", "test", "kubernetes", "cloud", "native", "local", "ide", "devtool", "developer", "tool"]
categories = ["development-tools", "backend", "devtool"]

[workspace.dependencies]
actix-codec = "0.5"
bytes = "1"
tokio = { version = "1", features = ["rt", "rt-multi-thread", "net", "macros"] }
tokio-stream = "0.1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
anyhow = "1"
nix = { version = "0.24", features = ["net"] }
clap = { version = "4", features = ["derive"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "json"] }
futures = "0.3"
thiserror = "1"
k8s-openapi = { version = "0.18", features = ["v1_24"] }
reqwest = { version = "0.11", default-features = false, features = ["blocking", "rustls-tls", "json"] }
kube = { version = "0.82", default-features = false, features = ["runtime", "derive", "client", "ws", "rustls-tls"] }
trust-dns-resolver = { version = "0.22", features = ["serde-config", "tokio-runtime"] }
tokio-util = { version = "0.7", features = ["net", "codec"] }
rand = "0.8"
streammap-ext = "0.1"
num-traits = "0.2"
regex = { version = "1", features = ["unicode-case"] }
miette = "5"
fancy-regex = { version = "0.10" }

# TODO(alex): Change when https://github.com/hyperium/http-body/issues/88 is solved.
hyper = { git = "https://github.com/meowjesty/hyper", branch = "issue/922/http2", features = ["full"] }
http-body = { git = "https://github.com/meowjesty/http-body", branch = "issue/922/http2" }
http-body-util = { git = "https://github.com/meowjesty/http-body", branch = "issue/922/http2" }
libc = "0.2"
bimap = "0.6.2"
socket2 = { version = "0.5.3", features = ["all"]}
which = "4"
semver = "1"
once_cell = "1"
exec = "0.3"

[patch.crates-io]
tracing = { git = "https://github.com/metalbear-co/tracing", package = "tracing", branch = "worker_options_non_blocking_v1" }
tracing-subscriber = { git = "https://github.com/metalbear-co/tracing", package = "tracing-subscriber", branch = "worker_options_non_blocking_v1" }


[profile.release]
strip = "debuginfo"
# Enabling LTO causes this issue https://github.com/metalbear-co/mirrord/issues/906
lto = false
