[workspace]

members = [
    "mirrord/*",
    "mirrord/layer/tests/apps/fileops",
    "mirrord/layer/tests/apps/outgoing",
    "mirrord/layer/tests/apps/listen_ports",
    "mirrord/layer/tests/apps/dns_resolve",
    "mirrord/layer/tests/apps/recv_from",
    "mirrord/layer/tests/apps/issue1776",
    "mirrord/layer/tests/apps/issue1776portnot53",
    "mirrord/layer/tests/apps/issue1899",
    "mirrord/layer/tests/apps/issue2001",
    "mirrord/layer/tests/apps/issue2438",
    "sample/rust",
    "medschool",
    "tests",
    "tests/rust-e2e-fileops",
    "tests/rust-unix-socket-client",
    "tests/rust-bypassed-unix-socket",
    "tests/issue1317",
    "tests/rust-websockets",
    "tests/rust-sqs-printer",
]
resolver = "2"

# latest commits on rustls suppress certificate verification
[workspace.package]
version = "3.118.0"
edition = "2021"
license = "MIT"
readme = "README.md"
repository = "https://github.com/metalbear/mirrord"
documentation = "https://mirrord.dev/docs"
authors = ["MetalBear <hi@metalbear.co>"]
description = "Run a local process in the context of a cloud environment"
homepage = "https://mirrord.dev"
publish = false
keywords = [
    "cli",
    "backend",
    "debug",
    "test",
    "kubernetes",
    "cloud",
    "native",
    "local",
    "ide",
    "devtool",
    "developer",
    "tool",
]
categories = ["development-tools", "backend", "devtool"]

[workspace.dependencies]
actix-codec = "0.5"
bincode = { version = "2.0.0-rc.2", features = ["serde"] }
bytes = "1"
tokio = { version = "1" }
tokio-stream = { version = "0.1", features = ["sync"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9"
nix = { version = "0.29", features = ["net"] }
clap = { version = "4", features = ["derive"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "json"] }
futures = "0.3"
thiserror = "1"
k8s-openapi = { version = "0.22", features = ["earliest"] }
reqwest = { version = "0.12", default-features = false, features = [
    "blocking",
    "rustls-tls-native-roots",
    "json",
    "socks",
    "http2",
] }
kube = { version = "0.93.1", default-features = false, features = [
    "runtime",
    "derive",
    "client",
    "ws",
    "rustls-tls",
    "oidc",
    "socks5",
    "http-proxy",
] }
hickory-resolver = { version = "0.24", features = [
    "serde-config",
    "tokio-runtime",
] }
tokio-util = { version = "0.7", features = ["net", "codec"] }
rand = "0.8"
streammap-ext = "0.1"
num-traits = "0.2"
regex = { version = "1", features = ["unicode-case"] }
fancy-regex = { version = "0.13" }
enum_dispatch = "0.3"


hyper = { version = "1", features = ["full"] }
hyper-util = { version = "0.1" }
http-body = "1"
http-body-util = "0.1"
libc = "0.2"
bimap = "0.6.2"
socket2 = { version = "0.5.3", features = ["all"] }
which = "6"
semver = "1"
once_cell = "1"
exec = "0.3"
drain = "0.1"
base64 = "0.22"
rustls = "0.23"
aws-lc-sys = "0.20.1" # version 0.21.1 fails to compile on Linux x86

[workspace.lints.rustdoc]
private_intra_doc_links = "allow"

[profile.release]
strip = "debuginfo"
# Enabling LTO causes this issue https://github.com/metalbear-co/mirrord/issues/906
lto = false
