[package]
name = "mirrord-auth"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []

[dependencies]
bytes = "1"
chrono = "0.4"
home = "0.5"
gethostname = "0.4"
pem = "2"
k8s-openapi.workspace = true
kube.workspace = true
schemars = { version = "0.8", features = ["chrono"] }
serde = { version = "1", features = ["derive"] }
serde_yaml = "0.9"
tokio = { workspace = true, features = ["fs"] }
thiserror = "1"
x509-certificate = "0.19"
