[package]
name = "mirrord-auth"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
webbrowser = ["dep:rand", "dep:reqwest", "dep:webbrowser"]

[dependencies]
lazy_static = {workspace = true}
rand = { version = "0.8", optional = true }
reqwest = { workspace = true, features=["json", "rustls-tls"], default-features = false, optional = true }
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
webbrowser = { version = "0.8", optional = true }
