[package]
name = "mirrord-operator"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true
edition.workspace = true

[lints]
workspace = true

[features]
default = []
client = [
  "crd",
  "dep:base64",
  "dep:bincode",
  "dep:http",
  "dep:http-body-util",
  "dep:hyper",
  "dep:hyper-util",
  "dep:futures",
  "dep:mirrord-analytics",
  "dep:mirrord-auth",
  "dep:mirrord-kube",
  "dep:mirrord-progress",
  "dep:mirrord-protocol",
  "dep:mirrord-protocol-io",
  "dep:rand",
  "dep:tokio",
  "dep:tokio-tungstenite",
  "dep:tracing",
  "dep:serde_urlencoded",
  "dep:uuid",
  "dep:tower",
]
crd = [
  "dep:k8s-openapi",
  "dep:kube",
  "dep:mirrord-agent-env",
  "dep:mirrord-config",
  "dep:mirrord-kube",
  "dep:semver",
  "dep:serde_json",
  "dep:thiserror",
]

[dependencies]
mirrord-agent-env = { path = "../agent/env", features = ["schema"], optional = true }
mirrord-analytics = { path = "../analytics", optional = true }
mirrord-auth = { path = "../auth", features = ["client"], optional = true }
mirrord-config = { path = "../config", optional = true }
mirrord-kube = { path = "../kube", optional = true }
mirrord-progress = { path = "../progress", optional = true }
mirrord-protocol = { path = "../protocol", optional = true }
mirrord-protocol-io = { path = "../protocol-io", optional = true}


base64 = { workspace = true, optional = true }
bincode = { workspace = true, features = ["serde"], optional = true }
chrono = { workspace = true, features = ["clock", "serde"] }
http = { workspace = true, optional = true }
http-body-util = { workspace = true, optional = true }
hyper = { workspace = true, optional = true }
hyper-util = { workspace = true, optional = true }
k8s-openapi = { workspace = true, optional = true }
kube = { workspace = true, features = ["derive", "ws"], optional = true }
futures = { workspace = true, optional = true }
rand = { workspace = true, optional = true }
schemars = { workspace = true, features = ["chrono"] }
semver = { workspace = true, features = ["serde"], optional = true }
serde.workspace = true
serde_json = { workspace = true, optional = true }
serde_urlencoded = { version = "0.7", optional = true }
thiserror = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
tower = { workspace = true, features = ["retry"], optional = true }
tokio-tungstenite = { workspace = true, optional = true }
tracing = { workspace = true, optional = true }
uuid = { workspace = true, optional = true }

[dev-dependencies]
rstest.workspace = true
