[package]
name = "mirrord-sip"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true
edition.workspace = true

[dependencies]
apple-codesign = { version = "0.27", default-features = false}
memchr = "2"
object = "0.32"
tempfile = "3"

once_cell.workspace = true
tracing.workspace = true
thiserror.workspace = true
which.workspace = true


[dev-dependencies]
tempfile = "3.3.0"
