[package]
name = "mirrord-protocol"
version = "1.3.0"
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true
edition.workspace = true

[dependencies]
actix-codec.workspace = true
bytes.workspace = true
bitflags = "2"
bitflags_serde_shim = "0.2"
thiserror.workspace = true
trust-dns-resolver.workspace = true
serde.workspace = true
bincode =  { version = "2.0.0-rc.2", features = ["serde"] }
tracing.workspace = true
hyper = { workspace = true, features = ["client"]}
http-serde = "1.1.2"
http-body-util = { workspace = true }
fancy-regex = { workspace = true }
libc.workspace = true
socket2.workspace = true
semver.workspace = true

mirrord-macros = { path = "../macros" }

[target.'cfg(target_os = "linux")'.dependencies]
nix.workspace = true
