[package]
name = "mirrord-protocol"
version = "1.14.0"
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
actix-codec.workspace = true
bincode.workspace = true
bytes.workspace = true
thiserror.workspace = true
hickory-resolver.workspace = true
hickory-proto.workspace = true
serde.workspace = true
tracing.workspace = true
hyper = { workspace = true, features = ["client"] }
http-serde = "2"
http-body-util = { workspace = true }
fancy-regex = { workspace = true }
socket2.workspace = true
semver = { workspace = true, features = ["serde"] }
tokio-stream.workspace = true
tokio.workspace = true

mirrord-macros = { path = "../macros" }

[target.'cfg(target_os = "linux")'.dependencies]
libc.workspace = true
nix = { workspace = true, features = ["fs"] }
