[package]
name = "mirrord-protocol"
version = "1.25.1"
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
actix-codec.workspace = true
bincode.workspace = true
bytes.workspace = true
thiserror.workspace = true
futures.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_json_path.workspace = true
serde_json_path_macros.workspace = true
tracing.workspace = true
hyper = { workspace = true, features = ["client"] }
http-serde = "2"
http-body-util = { workspace = true }
fancy-regex = { workspace = true }
socket2.workspace = true
semver = { workspace = true, features = ["serde"] }
derive_more = { workspace = true, features = [
  "from",
  "into",
  "deref",
  "display",
] }
uuid = { workspace = true, features = ["v4"] }

mirrord-macros = { path = "../macros" }

strum.workspace = true
strum_macros.workspace = true

[target.'cfg(target_os = "linux")'.dependencies]
libc.workspace = true
nix = { workspace = true, features = ["fs"] }

[features]
windows_build = []
