[package]
name = "mirrord"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true
edition.workspace = true

[lints]
workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
mirrord-operator = { path = "../operator", features = [
    "client",
    "license-fetch",
    "setup",
] }
mirrord-progress = { path = "../progress" }
mirrord-kube = { path = "../kube" }
mirrord-config = { path = "../config" }
mirrord-protocol = { path = "../protocol" }
mirrord-console = { path = "../console", features = ["async-logger"] }
mirrord-analytics = { path = "../analytics" }
mirrord-intproxy = { path = "../intproxy" }
mirrord-vpn = { path = "../vpn" }

actix-codec.workspace = true
clap.workspace = true
tun2 = { version = "2", features = ["async"] }
tracing.workspace = true
serde_json.workspace = true
serde.workspace = true
tracing-subscriber.workspace = true
futures.workspace = true
which.workspace = true
semver.workspace = true
exec.workspace = true
reqwest.workspace = true
const-random = "0.1.15"
tokio = { workspace = true, features = ["rt", "rt-multi-thread", "net", "macros", "process"] }
kube.workspace = true
k8s-openapi.workspace = true
miette = { version = "7", features = ["fancy"] }
thiserror.workspace = true
humantime = "2"
nix = { workspace = true, features = ["process", "resource"] }
tokio-util.workspace = true
socket2.workspace = true
drain.workspace = true
prettytable-rs = "0.10"
clap_complete = "4.4.1"
rustls.workspace = true
local-ip-address = "0.6"
tempfile = "3"
rcgen = "0.13"
rustls-pemfile = "2"
tokio-rustls = "0.26"
tokio-stream = { workspace = true, features = ["net"] }


[target.'cfg(target_os = "macos")'.dependencies]
mirrord-sip = { path = "../sip" }


[build-dependencies]
mirrord-layer = { artifact = "cdylib", path = "../layer" }

[dev-dependencies]
rstest = "0.21"
