[package]
name = "mirrord-agent"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true
edition.workspace = true
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
containerd-client = "0.5"
tokio = { workspace = true, features = ["rt", "net", "macros", "fs", "process", "signal"] }
serde.workspace = true
serde_json.workspace = true
pnet = "0.34"
nix = { workspace  = true, features = ["mount", "sched", "user"] }
clap = { workspace = true, features = ["env"] }
mirrord-protocol = { path = "../protocol"}
actix-codec.workspace = true
futures.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
tokio-stream.workspace = true
thiserror.workspace = true
hickory-resolver.workspace = true
num-traits.workspace = true
bollard = "0.16"
tokio-util.workspace = true
rand.workspace = true
streammap-ext.workspace = true
libc.workspace = true
faccess = "0.2"
bytes = "1.2"
regex = "1"
socket2.workspace = true
wildmatch = "2"
enum_dispatch.workspace = true
http-body-util = { workspace = true }
hyper = { workspace = true, features = ["full"] }
hyper-util.workspace = true
httparse = "1"
fancy-regex = { workspace = true }
dashmap = { version = "5" }
oci-spec = "0.6.0"
async-trait = "0.1"
tonic = "0.11"
tower = "0.4"
http = "1"
# until https://github.com/kflansburg/k8s-cri/pull/10 is released
k8s-cri = {git = "https://github.com/metalbear-co/k8s-cri", rev = "8a96a85"}
once_cell.workspace = true
semver.workspace = true
drain.workspace = true
tokio-rustls = "0.26"
x509-parser = "0.16"

[target.'cfg(target_os = "linux")'.dependencies]
iptables = {git = "https://github.com/metalbear-co/rust-iptables.git", rev = "e66c7332e361df3c61a194f08eefe3f40763d624"}
rawsocket = {git = "https://github.com/metalbear-co/rawsocket.git"}


[dev-dependencies]
mockall = "0.12" # 0.11.3 is broken
test_bin = "0.4"
rcgen = "0.13"
