[package]
name = "mirrord-agent"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true
edition.workspace = true

[lints]
workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[target.'cfg(target_os = "linux")'.dependencies]
containerd-client = "0.6"
tokio = { workspace = true, features = [
    "rt",
    "net",
    "macros",
    "fs",
    "process",
    "signal",
] }

serde.workspace = true
serde_json.workspace = true
pnet = "0.35"
nix = { workspace = true, features = ["mount", "sched", "user"] }
clap = { workspace = true, features = ["env"] }
mirrord-protocol = { path = "../protocol" }
actix-codec.workspace = true
futures.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
tokio-stream.workspace = true
thiserror.workspace = true
hickory-resolver.workspace = true
bollard = "0.18"
tokio-util.workspace = true
rand.workspace = true
streammap-ext.workspace = true
libc.workspace = true
faccess = "0.2"
bytes.workspace = true
wildmatch = "2"
enum_dispatch.workspace = true
http-body-util = { workspace = true }
hyper = { workspace = true, features = ["full"] }
hyper-util.workspace = true
httparse = "1"
fancy-regex = { workspace = true }
dashmap = { version = "6" }
oci-spec = "0.7.0"
async-trait = "0.1"
tonic = "0.12"
tower.workspace = true
http.workspace = true
k8s-cri = "0.9"
semver.workspace = true
tokio-rustls.workspace = true
x509-parser = "0.16"
rustls.workspace = true
envy = "0.4"
socket2.workspace = true
iptables = { git = "https://github.com/metalbear-co/rust-iptables.git", rev = "e66c7332e361df3c61a194f08eefe3f40763d624" }
rawsocket = { git = "https://github.com/metalbear-co/rawsocket.git" }
procfs = "0.17.0"
liblmod = "0.2.0"

[target.'cfg(target_os = "linux")'.dev-dependencies]
rstest.workspace = true
mockall = "0.13"
test_bin = "0.4"
rcgen.workspace = true
