{% set visible_categories = definitions | select("in", sections.get("", {})) | reject("equalto", "internal") | list %}
{% if visible_categories %}
{% for category in visible_categories %}

### {{ definitions[category]['name'] }}

{% for text, values in sections[""][category].items() %}
- {{ text }} {{ values|join(', ') }}
{% endfor %}

{% endfor %}
{% else %}
Maintenance build.


{% endif %}
