[package]
name = "mirrord-kube"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
readme.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish.workspace = true
edition.workspace = true

[lints]
workspace = true

[features]
default = []
incluster = []

[dependencies]
mirrord-config = { path = "../config"}
mirrord-progress = { path = "../progress" }
mirrord-protocol = { path = "../protocol" }

actix-codec.workspace = true
async-stream = "0.3"
bytes.workspace = true
futures.workspace = true
k8s-openapi.workspace = true
kube.workspace = true
rand.workspace = true
regex.workspace = true
serde.workspace = true
serde_json.workspace = true
shellexpand = "3"
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
tokio-retry = "0.3"
pin-project-lite = "0.2"

[dev-dependencies]
base64.workspace = true
http-body.workspace = true
hyper.workspace = true
rstest.workspace = true
tower.workspace = true
