[package]
name = "mirrord-layer-win"
version.workspace = true
edition.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
documentation.workspace = true
authors.workspace = true
description.workspace = true
homepage.workspace = true
publish.workspace = true
keywords.workspace = true
categories.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
mirrord-layer-macro = { path = "../layer/macro" }
mirrord-layer-lib = { path = "../layer-lib", features = ["layer-hook-execution"] }
mirrord-protocol = { path = "../protocol" }
mirrord-progress = { path = "../progress" }
mirrord-intproxy-protocol = { path = "../intproxy/protocol", features = ["codec"] }
mirrord-config = { path = "../config" }

# Used for internal error type set-up
thiserror.workspace = true 
socket2.workspace = true

# Used for logging and tracing
tracing.workspace = true

libc = "0.2.175"
[target.'cfg(windows)'.dependencies]
phnt = "0.1.2"

# Additional dependencies for proxy connection
tokio.workspace = true
bincode.workspace = true
base64.workspace = true
tokio-util.workspace = true
once_cell = "1.21.3"

[target.'cfg(target_os = "windows")'.dependencies]
winapi.workspace = true
str-win = { path = "../str-win" }
minhook-detours-rs.workspace = true
windows-strings.workspace = true
anyhow.workspace = true 

dll-syringe.workspace = true

[lints]
workspace = true
