<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product
      Id="*"
      Name="mirrord"
      Manufacturer="MetalBear"
      UpgradeCode="EAFD3591-E78C-4B78-85BF-5FE0E72BB7A2"
      Language="1033"
      Version="1.0.0">

    <Package
        InstallerVersion="500"
        Compressed="yes"
        InstallScope="perMachine"
        Manufacturer="MetalBear"
        Description="Run a local process in the context of a cloud environment"/>

    <MajorUpgrade
        Schedule="afterInstallInitialize"
        DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit."/>

    <MediaTemplate />

    <!-- ARP icon shown in Programs & Features -->
    <Icon Id="ProductIcon" SourceFile="mirrord.ico"/>
    <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
    <Property Id="ARPHELPLINK" Value="https://metalbear.co/mirrord/docs"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="mirrord">
          <Directory Id="Bin" Name="bin">

            <!-- mirrord.exe -->
            <Component Id="MirrordExeComponent" Guid="*">
              <File
                Id="MirrordExeFile"
                Source="mirrord.exe"
                KeyPath="yes"/>
            </Component>

            <!-- mirrord_layer_win.dll -->
            <Component Id="MirrordDllComponent" Guid="*">
              <File
                Id="MirrordDllFile"
                Source="mirrord_layer_win.dll"
                KeyPath="yes"/>
            </Component>

          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- GROUPING -->
    <Feature Id="MainFeature" Title="mirrord" Level="1">
      <ComponentRef Id="MirrordExeComponent"/>
      <ComponentRef Id="MirrordDllComponent"/>
    </Feature>

    <!-- UI + License -->
    <UI>
      <UIRef Id="WixUI_Minimal"/>
    </UI>

    <!-- License shown in installer -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>

  </Product>

</Wix>
