# https://docs.github.com/en/enterprise-cloud@latest/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks/
name: CI
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'vscode-ext/**'
      - 'intellij-ext/**'
      - 'CHANGELOG.md'

  pull_request:
    branches: [main]
    paths:
      - 'vscode-ext/**'
      - 'intellij-ext/**'
      - 'CHANGELOG.md'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "Step not required"'
  test_mirrord_protocol:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - run: 'echo "Step not required"'
  test_agent:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "Step not required"'
  test_mirrord_layer:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "Step not required"'
  test_agent_image:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "Step not required"'
  test_mirrord_layer_cli:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-12, macos-11]
        target:
          [x86_64-unknown-linux-gnu, x86_64-apple-darwin, aarch64-apple-darwin]
        exclude:
          - os: ubuntu-latest
            target: x86_64-apple-darwin
          - os: ubuntu-latest
            target: aarch64-apple-darwin
          - os: macos-12
            target: x86_64-unknown-linux-gnu
          - os: macos-11
            target: aarch64-apple-darwin
          - os: macos-11
            target: x86_64-unknown-linux-gnu
    runs-on: ${{ matrix.os }}
    steps:
      - run: 'echo "Step not required"'
  build_mirrord:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "Step not required"'
  integration_tests:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "Step not required"'
  integration_tests_macos:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "Step not required"'
  e2e:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "Step not required"'
  e2e_macos:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "Step not required"'
  
  
  
  
  