name: Operator E2E Test

on:
  pull_request:
    types: [synchronize]
  pull_request_review:
    types: [submitted]
  workflow_dispatch:
    inputs:
      mirrord_commit:
        description: 'Mirrord commit to use for E2E tests'
        required: true
        type: string
      mirrord_branch:
        description: 'Mirrord branch to use for E2E tests'
        required: true
        type: string

jobs:
  trigger-operator-e2e:
    runs-on: ubuntu-latest
    # Only run if:
    # 1. PR is approved
    # 2. Manually triggered
    if: |
      github.event_name == 'workflow_dispatch' || github.event.review.state == 'approved'
    steps:
      - name: Trigger operator E2E workflow
        uses: metalbear-co/repository-dispatch@main
        with:
          token: ${{ secrets.OPERATOR_E2E_PAT }}
          repository: metalbear-co/operator
          event-type: operator-e2e-test-from-mirrord
          client-payload: |
            {
              "branch": "meowchinist/mbe-710-trigger-e2e-with-the-operator-on-mirrord-release-branch"
              "mirrord_commit": "${{ github.event_name == 'workflow_dispatch' && inputs.mirrord_commit || github.event.pull_request.head.sha }}",
              "mirrord_branch": "${{ github.event_name == 'workflow_dispatch' && inputs.mirrord_branch || github.event.pull_request.head.ref }}"
            }
