name: Release
on:
  push:
    tags:
      - "*.*.*"

jobs:
  build_binaries:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            extension: so
            target: x86_64-unknown-linux-gnu
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          target: ${{matrix.target}}
      - uses: Swatinem/rust-cache@v1
        with:
          key: ${{matrix.target}}-${{matrix.os}}
      - name: build mirrord-layer and cli
        run: cargo +nightly build --release -p mirrord -p mirrord-layer --target=${{matrix.target}}
      - uses: actions/upload-artifact@v3
        with:
          name: ${{matrix.target}}
          path: |
            target/${{matrix.target}}/release/mirrord
            target/${{matrix.target}}/release/libmirrord_layer.${{matrix.extension}}
          if-no-files-found: error
  build_binaries_macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          target: aarch64-apple-darwin
      - uses: Swatinem/rust-cache@v1
      - name: build mirrord-layer x86-64
        run: cargo +nightly build --release -p mirrord-layer --target=x86_64-apple-darwin
      - name: build mirrord-layer macOS arm
        run: cargo +nightly build --release -p mirrord-layer --target=aarch64-apple-darwin
      - name: create universal target dir
        run: mkdir -p /tmp/target/universal-apple-darwin/release
      - name: create universal dylib
        run: lipo -create -output /tmp/target/universal-apple-darwin/release/libmirrord_layer.dylib target/aarch64-apple-darwin/release/libmirrord_layer.dylib target/x86_64-apple-darwin/release/libmirrord_layer.dylib
      - name: build macOS arm cli with universal dylib
        env:
          MIRRORD_LAYER_FILE: /tmp/target/universal-apple-darwin/release/libmirrord_layer.dylib
        run: cargo +nightly build --release -p mirrord --target=aarch64-apple-darwin
      - name: build macOS x86-64 cli with universal dylib
        env:
          MIRRORD_LAYER_FILE: /tmp/target/universal-apple-darwin/release/libmirrord_layer.dylib
        run: cargo +nightly build --release -p mirrord --target=x86_64-apple-darwin
      - name: create universal macOS cli
        run: lipo -create -output /tmp/target/universal-apple-darwin/release/mirrord target/aarch64-apple-darwin/release/mirrord target/x86_64-apple-darwin/release/mirrord
      - name: adjust directory layout for upload
        run: cp -rf /tmp/target .
      - uses: actions/upload-artifact@v3
        with:
          name: universal-apple-darwin
          path: |
            target/universal-apple-darwin/release/mirrord
            target/universal-apple-darwin/release/libmirrord_layer.dylib
          if-no-files-found: error

  release_docker_image:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get release version
        run: |
          echo "::set-output name=version::$(grep -m 1 version Cargo.toml | cut -d' ' -f3 | tr -d '\"')"
        id: version
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: mirrord-agent/Dockerfile
          platforms: linux/amd64 # linux/arm64 arm64 is too slow on github, try to make it work later?
          push: true
          tags: |
            ghcr.io/metalbear-co/mirrord:latest
            ghcr.io/metalbear-co/mirrord:${{ steps.version.outputs.version }}

  release_vscode_ext:
    needs: [build_binaries, build_binaries_macos, release_docker_image]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 17
          cache: "npm"
          cache-dependency-path: vscode-ext/package-lock.json
      # This downloads all artifacts of the job
      - uses: actions/download-artifact@v3
        with:
          path: /tmp/artifacts
      - name: Get release version
        # VSCode doesn't support pre release versions https://github.com/microsoft/vsmarketplace/issues/50#issuecomment-990764201
        run: |
          echo "::set-output name=version::$(grep -m 1 version Cargo.toml | cut -d' ' -f3 | tr -d '\"' | cut -d'-' -f1)"
        id: version
      # TypeScript set at 4.7.4 because @kubernetes/client-node 0.16.3 (and 0.17.0) breaks with version 4.8.2+
      - run: npm install -g vsce typescript@4.7.4 esbuild
      - run: cp CHANGELOG.md LICENSE vscode-ext/
      - run: cp /tmp/artifacts/x86_64-unknown-linux-gnu/libmirrord_layer.so vscode-ext/
      - run: cd vscode-ext && npm install && tsc && vsce publish ${{ steps.version.outputs.version }} --target linux-x64
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
      - run: rm vscode-ext/libmirrord_layer.so
      - run: cp /tmp/artifacts/universal-apple-darwin/libmirrord_layer.dylib vscode-ext/
      # Same binary for darwin
      - run: cd vscode-ext && npm install && tsc && vsce publish ${{ steps.version.outputs.version }} --target darwin-x64
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
      - run: cd vscode-ext && npm install && tsc && vsce publish ${{ steps.version.outputs.version }} --target darwin-arm64
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}

  release_intellij_plugin:
    needs: [build_binaries, build_binaries_macos, release_docker_image]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v3
        with:
          path: /tmp/artifacts
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 11
      - run: cp LICENSE intellij-ext/
      - run: cp /tmp/artifacts/x86_64-unknown-linux-gnu/libmirrord_layer.* intellij-ext/
      - name: Publish Plugin
        env:
          PUBLISH_TOKEN: ${{ secrets.INTELLIJ_PUBLISH_TOKEN }}
          CERTIFICATE_CHAIN: ${{ secrets.INTELLIJ_CERTIFICATE_CHAIN }}
          PRIVATE_KEY: ${{ secrets.INTELLIJ_PRIVATE_KEY }}
          PRIVATE_KEY_PASSWORD: ${{ secrets.INTELLIJ_PRIVATE_KEY_PASSWORD }}
        run: |
          cd intellij-ext
          chmod +x ./gradlew
          ./gradlew publishPlugin

  release_gh:
    needs:
      [
        build_binaries,
        build_binaries_macos,
        release_docker_image,
        release_vscode_ext,
        release_intellij_plugin,
      ]
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/download-artifact@v3
        with:
          path: /tmp/artifacts
      - uses: montudor/action-zip@v1
      - name: Create mirrord linux zip file        
        run: |
          zip mirrord_linux_x86_64.zip mirrord
          shasum -a 256 mirrord_linux_x86_64.zip > mirrord_linux_x86_64.shasum256
        working-directory: /tmp/artifacts/x86_64-unknown-linux-gnu
      - name: Create mirrord macos zip file        
        run: |
          zip mirrord_mac_universal.zip mirrord
          shasum -a 256 mirrord_mac_universal.zip > mirrord_mac_universal.shasum256
        working-directory: /tmp/artifacts/universal-apple-darwin
      - name: Prepare binaries for upload
        run: |
          mkdir /tmp/release
          mv /tmp/artifacts/x86_64-unknown-linux-gnu/libmirrord_layer.so /tmp/release/libmirrord_layer_linux_x86_64.so
          mv /tmp/artifacts/x86_64-unknown-linux-gnu/mirrord /tmp/release/mirrord_linux_x86_64
          mv /tmp/artifacts/x86_64-unknown-linux-gnu/mirrord_linux_x86_64.zip /tmp/release/mirrord_linux_x86_64.zip
          mv /tmp/artifacts/x86_64-unknown-linux-gnu/mirrord_linux_x86_64.shasum256 /tmp/release/mirrord_linux_x86_64.shasum256

          mv /tmp/artifacts/universal-apple-darwin/libmirrord_layer.dylib /tmp/release/libmirrord_layer_mac_universal.dylib          
          mv /tmp/artifacts/universal-apple-darwin/mirrord /tmp/release/mirrord_mac_universal
          mv /tmp/artifacts/universal-apple-darwin/mirrord_mac_universal.zip /tmp/release/mirrord_mac_universal.zip
          mv /tmp/artifacts/universal-apple-darwin/mirrord_mac_universal.shasum256 /tmp/release/mirrord_mac_universal.shasum256

      # Consider to add changelog generation..
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: /tmp/release/**
